.contenedor-carrera {
    height: auto;
    display: flex;
    overflow: hidden;
}

.circulo {
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.circulo img{
    width: 100%;
}

.info {
    position: absolute;
    width: 360px;
    text-align: center;
    right: 70px;
    top: 160px;
    color: var(--white);
}

.info h2 {
    font-size: 50px;
    font-family: var(--font-family-carreras-titulo);
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.info p {
    font-family: var(--font-family-nav-text);
}

.facultad {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 380px;
}

.facultad img {
    width: 100%;
}

/*INFO DE UNIS*/
#carouselExampleIndicators {
    height: 573px;
    width: 460px;
    margin-left: 60px;
    overflow: hidden;
}

.bi-caret-right-fill, .bi-caret-left-fill {
    color: var(--first-violet);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--first-violet);
    height: 10px;
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
}